# Ignore config file
config

# Ignore IDE specific files
.vscode/

# Ignore Python caches
__pycache__/

# Ignore .drawio figure
imgs/LLM4KG.drawio

# Ignore entity similarity file
entity_similarity.csv