ipython==8.24.0
keybert==0.8.4
langchain_community==0.3.24
lemminflect==0.2.2
networkx==3.3
nltk==3.9.1
numpy==1.24.3
openai==1.84.0
pandas==2.2.3
pydotplus==2.0.2
rdflib==7.1.4
Requests==2.32.3
scikit_learn==1.2.2
