anthropic==0.49.0
bert_score==0.3.13
ipython==8.24.0
keybert==0.8.4
langchain==0.3.20
langchain_community==0.3.19
langchain_openai==0.3.8
networkx==3.3
nltk==3.9
numpy==1.24.3
openai==1.65.5
Pillow==11.1.0
protobuf==3.20.3
pydotplus==2.0.2
rdflib==7.1.3
Requests==2.32.3
rouge_score==0.1.2
scikit_learn==1.2.2
scipy==1.15.2
spacy==3.7.2
